* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body {
    position: relative;
    background-color: #5e5e5e;
   }
   .wrapper {
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .slider {
     position: relative;
     overflow: hidden;
     max-width: 39em;
     height: auto;
   }
   .slider-items {
     width: 400%;
     height: 100%;
     display: flex;
   }
   .slider-items .item {
     width: 25%;
     transition: .5s;
   }
   
   .slider-items .item img {
     max-width: 100%;
     height: auto;
     border-radius: 2%;
   }
   
   .wrapper input {
     position: absolute;
     visibility: hidden;
   }
   .slider-nav {
     
     width: 100%;
     display: flex;
     justify-content: flex-end;
   }
   .nav-div .slider-nav-item,
   .slider-nav .slider-nav-item {
     width: 1.5rem;
     height: 1.5rem;
     border: 2px solid lightblue;
     background-color: lightblue;
     border-radius: 50%;
     /* padding: 1em; */
     margin: 1em;
     cursor: pointer;
     transition: all .5s ease;
   }
   
   .slider-nav .slider-nav-item:hover {
     background-color: #fff;
     border-color: #fff;
   }
   .slider-nav .slider-nav-item:active {
     background-color: #000;
   }

   .text-nav-block {
       display: flex;
       justify-content: space-between;
   }
   .text-block {
    position: relative;
    overflow: hidden;
    padding: 1.2em 0;
    max-width: 70vw;
    height: 3em;
   }

   .item-text {
    color: #fff;
    font-size: 1.5em;
  }
  .text-nav-block {
    padding-top: 1em;
    display: flex;
    
  }
  .text-block {
    transform: translate(0, 0);
  }
   
   
   #slide1:checked ~ .slider .slider-items .slide1 {
     margin-left: 0;
   }
       
   #slide2:checked ~ .slider .slider-items  .slide1 {
     margin-left: -25%;
   }
      
   #slide3:checked ~ .slider .slider-items  .slide1 {
     margin-left: -50%;
   }
     
   #slide4:checked ~ .slider .slider-items  .slide1 {
     margin-left: -75%;
   }

   #slide1:checked  ~ .slider .text-nav-block .slider-nav .item1,
   #slide2:checked  ~ .slider .text-nav-block .slider-nav .item2,
   #slide3:checked  ~ .slider .text-nav-block .slider-nav .item3,
   #slide4:checked  ~ .slider .text-nav-block .slider-nav .item4 {
    background-color: #000;
  }

  #slide1:checked ~ .slider .text-nav-block .text-block .text1 {
    transform: translate(0, 0);
  }
      
  #slide2:checked ~ .slider .text-nav-block .text-block .text1 {
    transform: translate(0, -2em);
  }
     
  #slide3:checked ~ .slider .text-nav-block .text-block .text1 {
    transform: translate(0, -4em)
  }
    
  #slide4:checked ~ .slider .text-nav-block .text-block .text1 {
    transform: translate(0, -6em);
  }

   
   
   
   
   @media (max-width: 639px) {
    .text-nav-block {
        flex-direction: column-reverse;
    }

    .slider-nav {
        justify-content: center;
      }


     
   
   }